<script setup lang="ts">
import { useConfirmUserStore } from "@/stores/confirmUser";
import { useCustomerStore } from "@/stores/customer";
import { onMounted } from "vue";
import CustomerDialog from "./CustomerDialog.vue";
const customerStore = useCustomerStore();
const confirmUserStore = useConfirmUserStore();
onMounted(async () => {
  await customerStore.getCustomer();
});
</script>
<template>
  <CustomerDialog></CustomerDialog>
  <v-btn @click="customerStore.dialog = true">Add New </v-btn>
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Tel</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of customerStore.customers" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.tel }}</td>
        <td>
          <v-btn class="mr-5" @click="customerStore.editCustomer(item)"
            >Edit</v-btn
          ><v-btn @click="confirmUserStore.Confirm(item.id!)">Delete</v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
