<script setup lang="ts">
import { useConfirmStore } from "../stores/confirm";

const confirm = useConfirmStore();
</script>
<template>
  <v-dialog v-model="confirm.isShow" persistent width="auto"
    ><v-card
      ><v-card-actions
        ><v-btn @Click="confirm.isShow = false" style="color: blue"
          >Cancel</v-btn
        ><v-btn @Click="confirm.Delete(confirm.Id!)" style="color: red"
          >Confirm</v-btn
        ></v-card-actions
      ></v-card
    ></v-dialog
  >
</template>
